footer.footer-modern
    .container.py-5
        .row.footer-content
            //- Columna 1: Sobre la Agencia
            .col-lg-4.col-md-6.mb-4.mb-lg-0
                .footer-section
                    h3.footer-title Agencia de Viajes
                    p.footer-description Hacemos realidad tus sueños de aventura. Viajes inolvidables a los mejores destinos del mundo.
                    .footer-social.mt-3
                        a(href="#" class="social-icon" aria-label="Facebook")
                            i.fab.fa-facebook-f
                        a(href="#" class="social-icon" aria-label="Instagram")
                            i.fab.fa-instagram
                        a(href="#" class="social-icon" aria-label="Twitter")
                            i.fab.fa-twitter
                        a(href="#" class="social-icon" aria-label="YouTube")
                            i.fab.fa-youtube

            //- Columna 2: Enlaces Rápidos
            .col-lg-4.col-md-6.mb-4.mb-lg-0
                .footer-section
                    h3.footer-title Enlaces Rápidos
                    nav.footer-nav
                        a(href="/nosotros" class="footer-link") Nosotros
                        a(href="/viajes" class="footer-link") Viajes
                        a(href="/testimoniales" class="footer-link") Testimoniales
                        a(href="#" class="footer-link") Contacto

            //- Columna 3: Contacto
            .col-lg-4.col-md-12
                .footer-section
                    h3.footer-title Contacto
                    .footer-contact
                        .contact-item
                            i.fas.fa-envelope
                            span info@agenciaviajes.com
                        .contact-item
                            i.fas.fa-phone
                            span +52 (81) 1696-1590
                        .contact-item
                            i.fas.fa-map-marker-alt
                            span Ciudad de México

    //- Copyright bar
    .footer-bottom
        .container
            .row
                .col-12
                    p.copyright.text-center.mb-0
                        | © #{fechaActual} Agencia de Viajes - Todos los Derechos Reservados