header
    .navegacion
        .container
            .row.justify-content-between.align-items-center.py-3
                .col-6.col-md-4
                    a(href="/", aria-label="Inicio")
                        img(src="/img/logo.svg", alt="Logo Agencia de Viajes", class="img-fluid logo")
                .col-6.col-md-8
                    nav.nav.justify-content-end(role="navigation" aria-label="Menú principal")
                        a.nav-link(href="/nosotros" class=(ruta==='/nosotros' ? 'active' : '')) Nosotros
                        a.nav-link(href="/viajes" class=(ruta==='/viajes' ? 'active' : '')) Viajes
                        a.nav-link(href="/testimoniales" class=(ruta==='/testimoniales' ? 'active' : '')) Testimoniales