extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.md-5
            .col-md-6
                p Más que una agencia de viajes, somos <strong>creadores de experiencias inolvidables</strong>. Durante más de una década, hemos convertido los sueños de miles de viajeros en realidades extraordinarias, llevándolos a descubrir los rincones más fascinantes del planeta.
                p Cada destino es cuidadosamente seleccionado, cada itinerario meticulosamente planificado, y cada detalle pensado para que tú solo te preocupes por una cosa: <strong>disfrutar al máximo</strong>. Porque creemos que viajar no es solo visitar lugares, es crear recuerdos que duran para siempre.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        h2.text-center.my-5 Próximos Viajes
        include ../layout/partials/viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Julio 2020 - 28 de Julio 2020
                        p.precio $2,500 USD
                .col-md-6
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales