extends ../layout/index

block slider
    .slider(role="banner" aria-label="Portada")
        .slider__content.container
            em.aventura aventura
            h1.hero__title Escápate con nosotros
            p.lead.hero__subtitle Experiencias auténticas, planificación profesional y atención 24/7.
            .d-flex.flex-wrap.mt-3
                a.btn.btn-success.btn-lg(href="#viajes" aria-label="Ver próximos viajes") Ver próximos viajes
                a.btn.btn-outline-light.btn-lg.ml-3(href="/nosotros" aria-label="Cotiza tu viaje") Cotiza tu viaje
            a.slider__scroll(href="#sobre-nosotros" aria-label="Sigue bajando")
                i.fas.fa-chevron-down(aria-hidden="true")

block contenido
    main.container.mt-5
        h2#sobre-nosotros.text-center.mb-5 Sobre Nosotros
        .row.align-items-center
            .col-md-6
                p Más que una agencia, somos creadores de experiencias memorables. Diseñamos viajes a la medida para que disfrutes sin preocuparte por nada.
                p Te acompañamos de principio a fin: asesoría experta, itinerarios inteligentes y soporte continuo. Viajar no es solo visitar lugares, es crear recuerdos que duran para siempre.
                ul.beneficios.list-unstyled.mt-3
                    li
                        i.fas.fa-compass(aria-hidden="true")
                        |  Asesoría personalizada
                    li
                        i.fas.fa-plane-departure(aria-hidden="true")
                        |  Mejores rutas y horarios
                    li
                        i.fas.fa-concierge-bell(aria-hidden="true")
                        |  Soporte 24/7
                    li
                        i.fas.fa-shield-alt(aria-hidden="true")
                        |  Reservas seguras
                a.btn.btn-success.mt-3(href="/nosotros" aria-label="Conócenos") Conócenos
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid rounded-lg", alt="Terraza frente al mar con vista al océano")

        h2#viajes.text-center.my-5 Próximos Viajes
        include ../layout/partials/viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Julio 2020 - 28 de Julio 2020
                        p.precio $2,500 USD
                .col-md-6

    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales
